section{
	width: 30%;
	border-style: solid;
    border-width: 5px
	background-color: #00b7ff;
	margin: 1%;
}

section#chicken{
	background-color: #00b7ff;
}

section#beef{
	background-color: #00b7ff;
}

section#sushi{
	background-color: #00b7ff;
}

section > h1{
    width:30%;
    border-left:solid;
    border-bottom: solid;
    border-color:black;
    float:right;
    margin-top: 0;
   
}

section#chicken > h1{
    background-color:#ff00c1; 
}

section#beef > h1{
    background-color:#ff004e; 
    color:white;
}

section#sushi > h1{
    background-color:#ffb500; 
}

section > p{
  clear: right;
  margin:15px;
  margin-top:0;
  background-color: #00b7ff;
}

h1{
	text-align: center;
}

div{
	width:90%;
}


#chicken{
	float: left;
    margin-left: 3%;
}

#chicken > h1{
	
}

#beef{
	float: left;
}

#sushi{
	float: left;
}

@media (min-width: 992px){
    

}

@media (min-width: 768px) and (max-width: 991px){
section{
	width: 45%;
	border-style: solid;
    border-width: 5px
	background-color: #00b7ff;
	margin: 1%;
}

section#sushi{
	width: 93%;
	border-style0: solid;
    border-width: 5px
	background-color: #00b7ff;
	margin: 3%;
	
}

section#sushi > h1{
	width: 15%;
	border-style0: solid;
    border-width: 5px
	background-color: #00b7ff;
	
	
}

}

@media(max-width: 767px){
   section{
	width: 93%;
	border-style0: solid;
    border-width: 5px
	background-color: #00b7ff;
	margin: 3%;
	
}    
}